.commonCardWrapper {
    .title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: var(--color-black);
        line-height: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .icon {
        margin-right: 10px;
    }

    :global {
        .ant-card-selected {
            box-shadow: none;
            transition: none;
        }

        .ant-card {
            border: 0;
            padding: 1px 24px;
            height: 100%;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 20px 6px;


            .ant-card-head {
                margin-bottom: 16px;
                margin-top: 23px;
                padding: 0;
            }

            .ant-card-body {
                margin-top: 0;
                padding: 0;
                margin-bottom: 23px;
                overflow: inherit;
            }

            .ant-card-head-title {
                padding-top: 0;
            }

            .ant-card-head-extra {
                padding-top: 0;
            }
        }

        .ant-card-head {
            line-height: 24px;
            margin: 0;
        }

        .ant-card-body {
            padding-top: 0;
        }

        .ant-btn-text {
            color: var(--color-blue-200);
        }

        .ant-btn-text[disabled] {
            color: #b8babf;
        }
    }
}
